annotated-doc==0.0.5
annotated-types==0.8.0
blis==1.3.3
catalogue==2.0.10
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.1.8
cloudpathlib==0.26.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fonttools==4.66.1
gensim==4.4.0
idna==3.20
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.5.1
langcodes==3.5.1
langdetect==1.0.9
markdown-it-py==4.2.0
MarkupSafe==3.0.4
matplotlib==3.9.2
mdurl==0.1.2
murmurhash==1.0.15
numpy==1.26.4
packaging==26.3
pandas==2.2.3
pillow==12.3.0
preshed==3.0.13
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.5
requests==2.34.2
rich==15.0.0
scikit-learn==1.8.0
scipy==1.15.3
setuptools==84.0.0
shellingham==1.5.4
six==1.17.0
smart_open==7.7.1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.4
thinc==8.3.11
threadpoolctl==3.6.0
tqdm==4.70.1
typer==0.27.3
typer-slim==0.24.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.5
urllib3==2.8.0
wasabi==1.1.3
weasel==0.4.3
wrapt==2.5.0
