numpy==1.26.4
scipy==1.15.3
pandas==2.2.3
scikit-learn==1.8.0
spacy==3.8.7
gensim==4.4.0
langdetect==1.0.9
matplotlib==3.9.2
joblib==1.5.2
threadpoolctl==3.6.0
click==8.1.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
